.product-box .product-right .right-box {
    border: 1px solid rgba(17, 17, 17, 0.1);
}
 .price-content .price-box .price-left-box {
    background: linear-gradient(134.71deg, rgb(248, 204, 251) 1.286%,rgb(172, 210, 253) 100%);
    border-radius: 12px;
}
.price .price-content .price-box .price-right-box {
    background: linear-gradient(134.71deg, rgb(255, 249, 244) 1.511%,rgb(249, 223, 138) 100%);
    border-radius: 12px;
}  
.banner .banner-content .animation_btn {
    animation: pulse 1.5s infinite alternate;
    transition: transform 0.3s ease-in-out;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(107, 107, 255, 0.8);
    }
}


